click==8.0.3
Flask==2.0.2
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
marshmallow==3.14.1
marshmallow-dataclass==8.5.3
mypy-extensions==0.4.3
typing-inspect==0.7.1
typing_extensions==4.0.1
Werkzeug==2.0.2
